
body{
    background-color: blueviolet;
}

.block{
    position: relative;
    width: 100%;
    height: 550px;
    background: url('../assets/book2.jpg') no-repeat 0 100%;
    background-size: cover;
}

.footer{

    margin: auto;
    
}