<div class="container-fluid pt-3">
  <div class="title">
    <h1>Create an user</h1>
  </div>
  <div class="container p-3 my-3 border bg-light text-center">
    <a routerLink="/auth/signup"><h3>Use an Email</h3></a> 
  </div>
  <div class="container p-3 my-3 bg-dark text-white text-center">
    
      <!-- <h3>Use a Google account</h3>-->
     <button type="button"> Use a Google account</button>
  </div>
  <div class="container p-3 my-3 bg-primary text-white text-center">
    <h3> Use a Facebook account</h3>
  </div>

  <button type="button" class="btn btn-primary" (click)="returnTo()">Return Login</button>
</div>
