<div class="container-fluide">
  <div class="col-sm-8 offset-sm-2">
    <h2>Connection</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="btn-groupe">
        <button  type="button" class="btn btn-success" (click)="redirectTo()"> << Login</button>
        <button  type="button" class="btn btn-primary" type="submit" [disabled]="signinForm.invalid" (click)="onSubmit()">Connect</button>
      </div>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
